site_name: MSG gripper
site_url: https://PCrnjak.github.io/MSG_gripper/
repo_url: https://github.com/PCrnjak/MSG-compliant-AI-stepper-gripper

theme:
  name: material
  language: en
  logo: assets/Icon2.png

  features:
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.code.select
    - content.action.edit

  palette:
    # Light mode (default)
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: blue
      accent: blue

    # Dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
      primary: blue
      accent: blue


plugins:
- search

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/PCrnjak
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/source_robotics/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/SourceRobotics     
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/petar-crnjak-009b43180/
    - icon: fontawesome/brands/discord
      link: https://discord.gg/prjUvjmGpZ
    - icon: fontawesome/brands/patreon
      link: https://www.patreon.com/PCrnjak

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - attr_list
  - md_in_html

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

copyright: |
  &copy; 2023 <a href="https://github.com/PCrnjak"  target="_blank" rel="noopener">Petar Crnjak</a>